<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:duboo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置dubbo provider应用的名称-->
    <dubbo:application name="health_service_provider"></dubbo:application>

    <!--配置zookeeper的服务器地址-->
    <duboo:registry address="zookeeper://127.0.0.1:2181"></duboo:registry>

    <!--配置dubbo的协议-->
    <dubbo:protocol name="dubbo" port="20881" ></dubbo:protocol>

    <!--配置dubbo扫描-->
    <dubbo:annotation package="com.itheima.service"></dubbo:annotation>
</beans>